$bg-banner-img: url('images/bg-banner.jpg');
$bg-banner-position: center top;
$bg-banner-repeat: no-repeat;

$bg-img: url('images/bg-repeat.png');
$bg-position: top left;
$bg-repeat: repeat;

$home-primary-img-one: url('images/home-primary-one.jpg');
$home-primary-img-two: url('images/home-primary-two.jpg');
$home-primary-img-three: url('images/home-primary-three.jpg');
$home-primary-img-four: url('images/home-primary-four.jpg');


img {
	max-width: 100%;
}