.comments {
	
	h3 {
		margin-top:0;
		font-size:2em;
	}
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
}

.comments-area {
	padding: 35px;
}

.comments-title, .comment-reply-title {
	padding-bottom: 9px;
	margin: 40px 0 20px 0;
	border-bottom: 1px solid #eee;
}

ol.comment-list {
	list-style:none;
	padding-left: 0;
}

.comment-author .avatar {
	margin-right: 25px;
	border: 1px solid #ddd;
	border-radius: 4px;
	transition: all .2s ease-in-out;
	padding: 4px;
}

.comment-meta {
	margin-top: 20px;
	margin-bottom: 20px;
}

.comment-details {
	overflow: hidden;
	zoom: 1;
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #ddd;
}

.comment-details .reply {
	margin-top: 10px;
}

.comment-date a {
	font-size: 11px;
	color: #777;
	margin-right: 10px;
}

#commentform #comment {
	width: 100% !important;
}

#commentform .mdl-textfield {
	width: 100% !important;
}

#commentform #submit {
	position: relative;
	padding: 8px 30px;
	border: 0;
	margin: 10px 1px;
	cursor: pointer;

}

